<?xml version="1.0" encoding="utf-8"?>

<manifest package="com.example.android.pets"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--Information regarding the app -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Main activity to load-->
        <activity
            android:name=".CatalogActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--edition activity-->
        <activity
            android:name=".EditorActivity"
            android:theme="@style/EditorTheme"
            android:parentActivityName=".CatalogActivity" >
            <!-- Parent activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CatalogActivity" />
        </activity>
        <!--DB Content Provider-->
        <provider
            android:authorities="com.example.android.pets"
            android:name=".data.PetsProvider"
            android:exported="false">
        </provider>

    </application>

</manifest>